<!DOCTYPE html>
<html lang="fr" ng-app="immoApp">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Configuration des logements</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Enhance Required Form Fields with CSS3" />
  <meta name="keywords" content="form, html5, css3, animated, transition, required, filter" />
  <meta name="author" content="Codrops" />
  <link rel="shortcut icon" href="../favicon.ico">
  <link rel="stylesheet" type="text/css" href="../css/config_css/demo.css" />
  <link rel="stylesheet" type="text/css" href="../css/config_css/style.css" />
  <link href="../css/toastr.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <script type="text/javascript" src="../js/config_js/modernizr.custom.04022.js"></script>
  <!--[if lt IE 8]>
  <style>
  .af-wrapper{display:none;}
  .ie-note{display:block;}
</style>
<![endif]-->
</head>
<body ng-controller="FlatBackOfficeCtrl">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="glyphicon glyphicon-plus" aria-hidden="true" href="/addAnnonce/1"> Annonce</a></li>
            <!--<li><a class="glyphicon glyphicon-plus" aria-hidden="true" href="#">  Utilisateur</a></li>-->
            <li role="separator" class="divider"></li>
            <li><a class="glyphicon glyphicon-log-out" aria-hidden="true" href="{{linkLogout}}">  Déconnexion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <section class="af-wrapper">
    <form class="af-form" name="myForm" id="af-form" method="POST">
      <h1>Description de l'appartement</h1>
      <div class="af-outer">
        <div class="af-inner">
          <label for="input-title">Annonce en ligne</label>
          <input name="enLigne" type="checkbox" ng-model="appartement.enLigne">
        </div>
      </div>
      <div class="af-outer">
        <div class="af-inner">
          <label for="input-title">Couleur du fond</label>
          <input name="color" type="color" ng-model="appartement.color">
        </div>
      </div>

      <!-- Description Localisation -->
      <h2>Localisation</h2>
      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="ville">Ville</label>
          <input name="ville" type="text" ng-model="appartement.ville" required="true">
        </div>
      </div>
      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="adresse">Adresse</label>
          <input name="adresse" type="text" ng-model="appartement.adresse" required="true">
        </div>
      </div>
      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="descLocalisation">Description localisation</label>
          <br><textarea  ng-trim="true" name="emplacement" rows="4"cols="53" ng-model="appartement.emplacement"></textarea>
        </div>
      </div>


      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="latitude">latitude</label>
          <input name="latitude" type="text" ng-model="appartement.latitude" required="true">
        </div>
      </div>
      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="longitude">longitude</label>
          <input name="longitude" type="text" ng-model="appartement.longitude" required="true">
        </div>
      </div>

      <h2>Descriptions</h2>

      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="input-email">Titre 1</label>
          <input name="titre1" type="text" ng-model=appartement.titre1>
        </div>
      </div>
      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="desc1">Description 1</label>
          <textarea ng-trim="true" name="texte1" rows="4" cols="53" ng-model="appartement.texte1"></textarea>
        </div>
      </div>
      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="input-surface">Surface en m2</label>
          <input name="surface" type="number" ng-model=appartement.surface>
        </div>
      </div>
      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="input-nbPiece">Nombre de piéce(s)</label>
          <input name="nbPiece" type="number" ng-model=appartement.nbPiece>
        </div>
      </div>
      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="image1">Image 1</label>
          <input name="image1" type="text" ng-model="appartement.image1" ng-readonly="true">
          <input type="file" ng-file-select="onFileSelect($files,'image1')" multiple>
        </div>
      </div>
      <hr>

      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="titre2">Titre 2</label>
          <input name="titre2" type="text" ng-model="appartement.titre2">
        </div>
      </div>
      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="desc2">Description 2</label>
          <br><textarea ng-trim="true" name="texte2" rows="4" cols="53" ng-model="appartement.texte2"></textarea>
        </div>
      </div>
      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="image2">Image 2</label>
          <input name="image2" type="text" ng-model="appartement.image2" ng-readonly="true">
          <input type="file" ng-file-select="onFileSelect($files,'image2')" multiple>
        </div>
      </div>
      <hr>




      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="titre3">Titre 3</label>
          <input name="titre3" type="text" ng-model="appartement.titre3">
        </div>
      </div>
      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="desc3">Description 3</label>
          <br><textarea ng-trim="true" name="texte3" rows="4" cols="53" ng-model="appartement.texte3"></textarea>
        </div>
      </div>
      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="image3">Image 3</label>
          <input name="image3" type="text" ng-model="appartement.image3" ng-readonly="true">
          <input type="file" ng-file-select="onFileSelect($files,'image3')" multiple>
        </div>
      </div>
      <hr>


      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="titre3">Titre 4</label>
          <input name="titre4" type="text" ng-model="appartement.titre4">
        </div>
      </div>
      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="desc4">Description 4</label>
          <br><textarea ng-trim="true" name="texte4" class="" rows="4" cols="53" ng-model="appartement.texte4"></textarea>
        </div>
      </div>
      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="image4">Image 4</label>
          <input name="image4" type="text" ng-model="appartement.image4" ng-readonly="true">
          <input type="file" ng-file-select="onFileSelect($files,'image4')" multiple>
        </div>
      </div>


      <!-- Descriptions des photos -->
      <h2>Photos</h2>
      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="descPhotos">Description photos</label>
          <br><textarea ng-trim="true" name="photos" rows="4" cols="53" ng-model="appartement.photos"></textarea>
        </div>
      </div>
      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="album">Liens vers l'album</label>
          <input name="albumPhotos" type="text" ng-model="appartement.albumPhotos">
        </div>
      </div>
      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="photosphere">Liens vers une photo sphére</label>
          <input name="photosphere" type="text" ng-model="appartement.photosphere" ng-readonly="true">
          <input type="file" ng-file-select="onFileSelect($files,'photosphere')" multiple>
        </div>
      </div>


      <!-- Description du contacts-->
      <h2>Personnes à contacter</h2>
      <div class="af-outer af-required">
        <div class="af-inner">
          <label for="contact">Descriptions du contact</label>
          <br><textarea ng-trim="true" name="contacts" rows="4" cols="53" ng-model="appartement.contacts"></textarea>
        </div>
      </div>

      <input ng-click="addData()" type="submit" id="validé" value="Valider les informations" />

    </form>
    <br/>
    <a class="btn1" href="/listFlats/1"><< Retour</a>
    <a class="btn1" href="{{linkLogout}}">Déconnection</a>
  </section>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<script src="../js/appImmobilierAdd.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src="../js/toastr.js"></script>
</html>
