<!DOCTYPE html>
<html lang="fr" ng-app="immoApp">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Configuration des logements</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Enhance Required Form Fields with CSS3" />
        <meta name="keywords" content="form, html5, css3, animated, transition, required, filter" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" type="text/css" href="../css/config_css/demo.css" />
        <link rel="stylesheet" type="text/css" href="../css/config_css/style.css" />
        <link href="../css/toastr.css" rel="stylesheet" type="text/css" />
		    <script type="text/javascript" src="../js/config_js/modernizr.custom.04022.js"></script>
		<!--[if lt IE 8]>
			<style>
				.af-wrapper{display:none;}
				.ie-note{display:block;}
			</style>
		<![endif]-->
    </head>
    <body ng-controller="FlatBackOfficeCtrl">

			<section class="af-wrapper">
	      <h1>Description de l'appartement</h1>

				<form novalidate class="af-form" id="af-form" novalidate method="POST">

					<div class="af-outer">
						<div class="af-inner">
							<label for="input-title">Annonce en ligne</label>
							<input type="checkbox" ng-model="appartement.enLigne">
						</div>
					</div>
          <div class="af-outer">
            <div class="af-inner">
              <label for="input-title">Couleur du fond</label>
              <input type="color" ng-model="appartement.color">
            </div>
          </div>

          <h2>Descriptions</h2>
					<div class="af-outer af-required">
						<div class="af-inner">
						  <label for="input-email">Titre 1</label>
						  <input type="text" ng-model=appartement.titre1>
						</div>
					</div>
          <div class="af-outer af-required">
            <div class="af-inner">
              <label for="desc1">Description 1</label>
              <textarea rows="4" cols="53" ng-model="appartement.texte1"></textarea>
            </div>
          </div>
          <div class="af-outer af-required">
						<div class="af-inner">
						  <label for="input-surface">Surface en m2</label>
						  <input type="text" ng-model=appartement.surface>
						</div>
					</div>
          <div class="af-outer af-required">
            <div class="af-inner">
              <label for="input-nbPiece">Nombre de piéce(s)</label>
              <input type="text" ng-model=appartement.nbPiece>
            </div>
          </div>
          <div class="af-outer af-required">
            <div class="af-inner">
              <label for="image1">Image 1</label>
              <input type="text" ng-model="appartement.image1">
            </div>
          </div>
          <hr>

          <div class="af-outer af-required">
            <div class="af-inner">
              <label for="titre2">Titre 2</label>
              <input type="text" ng-model="appartement.titre2">
            </div>
          </div>
          <div class="af-outer af-required">
            <div class="af-inner">
              <label for="desc2">Description 2</label>
              <br><textarea rows="4" cols="53" ng-model="appartement.texte2"></textarea>
            </div>
          </div>
          <div class="af-outer af-required">
            <div class="af-inner">
              <label for="image2">Image 2</label>
              <input type="text" ng-model="appartement.image2">
            </div>
          </div>
          <hr>




          <div class="af-outer af-required">
            <div class="af-inner">
              <label for="titre3">Titre 3</label>
              <input type="text" ng-model="appartement.titre3">
            </div>
          </div>
          <div class="af-outer af-required">
            <div class="af-inner">
              <label for="desc3">Description 3</label>
              <br><textarea rows="4" cols="53" ng-model="appartement.texte3"></textarea>
            </div>
          </div>
          <div class="af-outer af-required">
            <div class="af-inner">
              <label for="image3">Image 3</label>
              <input type="text" ng-model="appartement.image3">
            </div>
          </div>
          <hr>


          <div class="af-outer af-required">
            <div class="af-inner">
              <label for="titre3">Titre 4</label>
              <input type="text" ng-model="appartement.titre4">
            </div>
          </div>
          <div class="af-outer af-required">
            <div class="af-inner">
              <label for="desc4">Description 4</label>
              <br><textarea class="" rows="4" cols="53" required ng-model="appartement.texte4"></textarea>
            </div>
          </div>
          <div class="af-outer af-required">
            <div class="af-inner">
              <label for="image4">Image 4</label>
              <input type="text" ng-model="appartement.image4">
            </div>
          </div>



          <!-- Description Localisation -->
          <h2>Localisation</h2>
          <div class="af-outer af-required">
            <div class="af-inner">
              <label for="ville">Ville</label>
              <input type="text" ng-model="appartement.ville">
            </div>
          </div>
          <div class="af-outer af-required">
            <div class="af-inner">
              <label for="adresse">Adresse</label>
              <input type="text" ng-model="appartement.adresse">
            </div>
          </div>
          <div class="af-outer af-required">
            <div class="af-inner">
              <label for="descLocalisation">Description localisation</label>
              <br><textarea  rows="4"cols="53" ng-model="appartement.emplacement"></textarea>
            </div>
          </div>


          <div class="af-outer af-required">
            <div class="af-inner">
              <label for="latitude">latitude</label>
              <input type="text" ng-model="appartement.latitude">
            </div>
          </div>
          <div class="af-outer af-required">
            <div class="af-inner">
              <label for="longitude">longitude</label>
              <input type="text" ng-model="appartement.longitude">
            </div>
          </div>


          <!-- Descriptions des photos -->
          <h2>Photos</h2>
          <div class="af-outer af-required">
            <div class="af-inner">
              <label for="descPhotos">Description photos</label>
              <br><textarea rows="4" cols="53" ng-model="appartement.photos"></textarea>
            </div>
          </div>
          <div class="af-outer af-required">
            <div class="af-inner">
              <label for="album">Liens vers l'album</label>
              <input type="text" ng-model="appartement.albumPhotos">
            </div>
          </div>
          <div class="af-outer af-required">
            <div class="af-inner">
              <label for="photosphere">Liens vers une photo sphére</label>
              <input type="text" ng-model="appartement.photosphere">
            </div>
          </div>



          <!-- Description du contacts-->
          <h2>Personnes à contacter</h2>
          <div class="af-outer af-required">
            <div class="af-inner">
              <label for="contact">Descriptions du contact</label>
              <br><textarea rows="4" cols="53" ng-model="appartement.contacts"></textarea>
            </div>
          </div>

					<input ng-click="majData()" type="submit" id="validé" value="Valider les informations" />

				</form>
        <br/>
        <a class="btn1" href="/listFlats/1"><< Retour</a>
        <a class="btn1" href="{{linkAnnonce}}">Voir l'annonce</a>
        <a class="btn1" href="{{linkLogout}}">Déconnection</a>
			</section>

    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="../js/appImmobilierConfiguration.js"></script>
    <script src="../js/toastr.js"></script>

</html>
